@page
@model SLGAzureDevWebApp.COVID19Model
@{
    ViewData["Title"] = "Microsoft COVID-19 Response";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COVID19</title>
</head>
<body>
    <div class="row" style="background-color:red">
        <div class="col-md-5">
                <h2 style="color:white;">Oregon DOJ</h1>
        </div>
        <div class="col-md-5">
           <h3 style="color:white;"> Public Health Alert!! - For more information about Coronavirus 2019 (COVID-19),please visit oregon.gov
                <a class="btn btn-default" href="https://www.oregon.gov/oha/PH/Pages/index.aspx">
                    ............
                </a>
            </h1>
        </div>
    </div>

    <h2>Oregon DOJ - COVID-19 ChatBot<h2>
     <iframe src='https://webchat.botframework.com/embed/zmdemoqna-bot?s=o-hEIZEy2D4.Xft0yl1lJZD8jSsaAw5-6VzyTyi2WrA0f7tA31Zgvac' style='min-width: 500px; width: 100%; min-height: 500px;'></iframe>
    <h2>COVID-19 ChatBot - Documentation<h2>
    <iframe src='https://microsoft.github.io/slg-covid-bot/' style='min-width: 500px; width: 100%; min-height: 1000px;'></iframe>

</body>
</html>
