@page
@model SLGAzureDevWebApp.DemosModel
@{
    ViewData["Title"] = "Azure Demos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demos</title>
</head>
<body>
    <p>Download Postman<a href="https://www.postman.com/">.........</a></p>
    <p>Azure Apps Demos<a href="https://azureappsdemomap.com/map">............</a></p>
    <p>Azure DevOps Demo Generator<a href="https://azuredevopsdemogenerator.azurewebsites.net/">............</a></p>
    <p>Azure DevOps Labs<a href="https://azuredevopslabs.com/">............</a></p>
</body>
</html>
