@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Dev Day Home page";
}

<div class="main-container">
    <div>
        <img src="https://zmdemostg.blob.core.windows.net/devdaycntr/AzureDevDay.JPG" />
    </div>
    <div class="content">
        <div class="content-body">
            <div class="success-text"><h1>Welcome to Azure Dev Day!!!</h1></div>
            <div class="description line-1"><h2>Learn about Azure Developer Services</h2></div>
        </div>
    </div>
</div>
<div class="row"><p></p></div>
<divclass="row"><p></p></divclass="row">

<div class="row">
    <div class="col-md-5">
        <h2>Azure Application Architecture </h2>
        <p>
            Start your Application Architecture Journey in Azure
        </p>
        <p><a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/architecture/guide/">Learn more &raquo;</a></p>
    </div>
    
    <div class="col-md-5">
        <h2>COVID-19 ChatBot</h2>
        <iframe src='https://webchat.botframework.com/embed/zmdemoqna-bot?s=o-hEIZEy2D4.Xft0yl1lJZD8jSsaAw5-6VzyTyi2WrA0f7tA31Zgvac' style='min-width: 200px; width: 100%; min-height: 200px;'></iframe>
    </div>
</div>


