@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Dev Day Home page";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="content-body">
            <div class="success-text">Welcome to Azure Dev Day!</div>
            <div class="description line-1">Learn about Azure Developer Services</div>
        </div>
    </div>
</div>
<div><p></p></div>
<div><p></p></div>
<div><p></p></div>
<div><p></p></div>
<div class="row">
    <div class="col-md-4">
        <h2>Get started right away </h2>
        <p>
            Clone your code repository and start developing your application on IDE of your choice
        </p>
        <p><a class="btn btn-light" href="https://go.microsoft.com/fwlink/?linkid=862409">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Continuous Delivery</h2>
        <p>View your CI/CD pipeline on Azure Devops and customize it as per your needs</p>
        <p><a class="btn btn-light" href="https://go.microsoft.com/fwlink/?linkid=862410">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>COVID-19 ChatBot</h2>
        <iframe src='https://webchat.botframework.com/embed/zmdemoqna-bot?s=o-hEIZEy2D4.Xft0yl1lJZD8jSsaAw5-6VzyTyi2WrA0f7tA31Zgvac' style='min-width: 200px; width: 100%; min-height: 200px;'></iframe>
    </div>
</div>


