@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Dev Day Home page";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Learn</title>
    </head>
    <body>
        <div class="main-container">
            <div>
                <img src="https://zmdemostg.blob.core.windows.net/devdaycntr/AzureDevDay.JPG" />
            </div>
            <div class="content">
                <div class="content-body">
                    <div class="success-text"><h1>Welcome to Azure Dev Day!!!</h1></div>
                    <div class="description line-1"><h2>Learn about Azure Developer Services</h2></div>
                </div>
            </div>
        </div>
        <div class="row"><p></p></div>
        <divclass ="row"><p></p></divclass>

        <div class="row">
            <div class="col-md-5">
                <h2>Azure Application Architecture </h2>
                <p>
                    Azure Architecture Center <a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/architecture/">........</a>
                </p>
                <p>
                    Application Architecture Guide <a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/architecture/guide/">........</a>
                </p>
                <p>
                    Reference Architecture<a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/architecture/guide/">........</a>
                </p>
                <p>Application Development <a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/application-integration-using-event-grid">........</a></p>
                <p>Application Modernization<a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/onboarding-customers-with-a-cloud-native-serverless-architecture">........</a></p>
                <p>DevOps<a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/architecture/example-scenario/apps/devops-dotnet-webapp">........</a></p>
                <p>Azure Services <a class="btn btn-light" href="https://azurecharts.com/overview">........</a></p>
                <p>Azure Architecture Framework<a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/architecture/framework/">........</a></p>
                <p>Cloud Adoption Framework <a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/">........</a></p>
                <p>Azure Pricing Calculator <a class="btn btn-light" href="https://azure.microsoft.com/en-us/pricing/calculator//">........</a></p>
            </div>

            <div class="col-md-5">
                <h2>Azure Dev Day ChatBot</h2>
                <iframe src='https://webchat.botframework.com/embed/zmdemoqna-bot?s=o-hEIZEy2D4.Xft0yl1lJZD8jSsaAw5-6VzyTyi2WrA0f7tA31Zgvac' style='min-width: 200px; width: 100%; min-height: 400px;'></iframe>
            </div>
        </div>

    </body>
    </html>
