@page
@model SLGAzureDevWebApp.LearnModel
@{
    ViewData["Title"] = "Learn";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Learn</title>
</head>
<body>
    <div class="main-container">
        <div class="content">
            <div class="content-body">
                <div class="success-text">Microsoft Learn</div>
                <div class="description line-1">
                    <p>Learn Azure Developer Services from Microsoft Learn</p>
                    <iframe src="https://zmdemostg.blob.core.windows.net/devdaycntr/MicrosoftLearn-Path.pdf" style='min-width: 500px; width: 100%; min-height: 1000px;'></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
