@page
@model SLGAzureDevWebApp.ModernizationModel
@{
    ViewData["Title"] = "Modernization";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Learn</title>
</head>
<body>
    <div class="main-container">
        <div class="content">
            <div class="content-body">
                <div class="success-text"><h1>Application Modernization</h1></div>
                <div class="description line-1">
                    <p>Compute Decision Tree for Migration and Modernization<a href="https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/compute-decision-tree">.........</a></p>
                    <p>Modernize .Net Applications with Cloud Optimized (PaaS) services <a class="btn btn-light" href="https://docs.microsoft.com/en-us/dotnet/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/">........</a></p>
                    <p>Modernize Java Applications with Cloud Optimized (PaaS) services <a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/java/">........</a></p>
                    <p>Migrate Web Applications to Azure <a class="btn btn-light" href="https://appmigration.microsoft.com/">........</a></p>
                    <h2>Application Innovation Program</h2>
                    <iframe src="https://zmdemostg.blob.core.windows.net/devdaycntr/CET_Azure Application Innovation Engagement_Datasheet.pdf" style='min-width: 500px; width: 100%; min-height: 1000px;'></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


