@page
@model SLGAzureDevWebApp.TutorialsModel
@{
    ViewData["Title"] = "Tutorials";

}

<h1>Azure Tutorials</h1>

<div class="main-container">
    <div class="content">
        <div class="content-body">
            <div class="success-text">Azure Training!!</div>
            <div class="description line-1">
                <p>Learn about Azure Developer Services</p>
                <p>Azure Developer Tutorials for Beginner to Advance!!!</p>
                <iframe src="https://zmdemostg.blob.core.windows.net/devdaycntr/Azure Dev Days HOLs.pdf" style='min-width: 500px; width: 100%; min-height: 600px;'></iframe>
            </div>
        </div>
    </div>
</div>

